@model List<LocalMessenger.Models.User>

<div>
    @foreach(var user in Model)
    {
        <p><b>@user.RealName</b> (@user.BDate)</p>
    }
</div>

<form method="post" action="/Reg/Send">
    <h3>Регистрация</h3>
    <input name="realName" placeholder="Имя" required />
    <input type="date" name="bDate" placeholder="Дата Рождения" required />
    <button type="submit">Готово</button>
</form>