@model List<LocalMessenger.Models.Users>

<form method="post" action="/User/Send">
    <input name="UserName" placeholder="Имя" required />
    <input name="UserSecondName" placeholder="Фамилия" required />
    <input name="DateBirth" type ="date" placeholder="Дата Рождения" required />
    <button type="submit">Отправить</button>
</form>

<div>
    @foreach(var users in Model)
    {
        <p><b>@users.UserNames</b>@users.UserSecondName  @users.DateBirth.ToString() </p>
    }
</div>